$color--accent: #F0145A;
$color--reg_blue: #24A3FF;
$color--hov_blue: #0085FF;
$color--active: #006CCF;
$color--wh_border: #FFFFFF;
$color--text_gray: #B3B3BA;
$color--bg_wh: #ffffff;
$color--white: #FFFFFF;
$color--bg_gray: #F5F5FA;
$color--shadow-top: #CACADB;
$color--shadow-bottom: #E7E7F2;
$color--title-gradient: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$color--adaptiv-gradient: linear-gradient(265.13deg, #EF8080 0.84%, #F0145A 99.96%);
$color--dots: #E6E6F0;
$color--hov_lang: #EDEDF7;
$color--contact: #323264;
$color--tell: #46466E;
$margin-bottom20: 20px;
$color-black: #000000;
$color-teamtext: #686887;